.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: grey;
  font-size: 13px;
}

.header a {
  color: grey;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
}

.header a:hover {
  color: silver;
}

.header-comp {
  display: flex;
  flex-direction: row;
}


@media only screen and (max-width: 1000px) {
  .header {
    display: none;
  }
}