.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: grey;
  font-size: 15px;
}

.header a {
  color: grey;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
}

.header a:hover {
  color: silver;
}

.header-comp {
  display: flex;
  flex-direction: row;
}

.header-comp button {
  background-color: #222222;
  color: grey;
}

.header-comp button:hover {
  background-color: #222222;
  color: silver;
  cursor:pointer;
}

.header-comp button:focus {
  border: none;
}

.showMap {
  visibility: hidden;
  opacity: 0;
  position: absolute;  
  height: 300px;
  width: 300px;
  top: 40px;
  left: 40px;
  background-color: white;
  border: 1px solid grey;
  visibility: visible;
}

.showMap.active {
  opacity: 1;

}


@media only screen and (max-width: 1000px) {
  .header {
    display: none;
  }
}